<div class="row">
  <div class="col-xs-9">
    <div class="form-group">
      <label for="">Calle</label>
      <input type="text" class="form-control" ng-model="objeto.calle" ng-disabled="!editable">
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <label for="">Número</label>
      <input type="text" class="form-control" ng-model="objeto.numero" ng-disabled="!editable">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label for="">Colonia</label>
      <input type="text" class="form-control" ng-model="objeto.colonia" ng-disabled="!editable">
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group">
      <label for="">Municipio</label>
      <input type="text" class="form-control" ng-model="objeto.municipio" ng-disabled="!editable">
    </div>
  </div>
</div>
