<mi-titulo>
  Lista de usuarios del sistema <button type="button" class="btn btn-default btn-xs">
    <i class="fas fa-plus" aria-hidden></i>
  </button>
</mi-titulo>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="u in usuarios">
    {{u.nombre}} - {{u.email}}
  </li>
</ul>
