<h1>
  Acerca de...
</h1>

<div class="jumbotron">
  <h1>{{main.app.name}} v{{main.app.version}}</h1>
  <p>Base de Aplicación web con SailsJS, MongoDB y AngularJS.</p>
  <p>Creada por SNELL Comunicación Digital para el grupo seleccinado de Asesoría en Desarrollo (Alumnos ITO)</p>
</div>
