<h1>
  <span ng-show="!alumno.id">
    Nuevo Alumno
  </span>
  <span ng-show="alumno.id">
    {{alumno.nombre}}
  </span>
</h1>
<hr>
<div class="row separado" ng-if="alumno.id">
  <div class="col-xs-6 text-center">
    <div class="perfil-thumb">
      <img ng-src="/images/thumb.png" ng-if="!alumno.foto">
      <img ng-src="/images/alumnos/{{alumno.id}}.jpg?r={{r}}" ng-if="alumno.foto">
    </div>
  </div>
  <div class="col-xs-6 text-center">
    <div id="elqrcode"></div>
  </div>
</div>

  <div class="row separado text-center" ng-if="alumno.id">
    <div class="col-xs-6">
      <form name="form">
        <button type="button" ngf-select="subirFoto($file)" ng-model="file" name="file" ngf-pattern="'image/jpeg'" class="btn btn-default btn-xs" ngf-accept="'image/jpeg'" ngf-max-size="2MB" ngf-min-height="100">
          <i class="far fa-image" aria-hidden></i>
          <span ng-show="!alumno.foto">Agregar </span>
          <span ng-show="alumno.foto">Cambiar </span>
          Fotografía
          <span ng-show="subiendoFoto">
            {{porcentaje}}%
          </span>
        </button>
      </form>
    </div>
    <div class="col-xs-6 text-center">
      {{alumno.id}}
    </div>
  </div>
  <div class="row separado">
    <div class="col-xs-4">
      <label for="">Nombre</label>
    </div>
    <div class="col-xs-2">
      <label for="">Matricula</label>
    </div>
    <div class="col-xs-4">
      <label for="">Disciplina</label>
    </div>
    <div class="col-xs-2">

    </div>
  </div>

  <div class="row separado">
    <div class="col-xs-4">
      <input type="text" class="form-control" ng-model="alumno.nombre" />
  </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="alumno.matricula" />
  </div>
        <div class="col-xs-4">
          <input type="text" class="form-control" ng-model="alumno.disciplina" />
  </div>
        </div>

        <h3>Dirección</h3>
        <direccion objeto="alumno.direccion" editable="true"></direccion>

        <h3>Dirección Trabajo</h3>
        <direccion objeto="alumno.direccionTrabajo" editable="true"></direccion>


        <div class="row separado">
          <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-primary" ng-click="guardar()">
      <i class="far fa-save" aria-hidden></i> Guardar
    </button>
          </div>
          <hr>
        </div>
