<mi-titulo>
  Escritorio <br>
</mi-titulo>

<mis-usuarios></mis-usuarios>

<mi-titulo>
  Mis Ventas
</mi-titulo>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="v in ventas">
    {{v.cliente}}
    <span class="pull-right">{{v.total|currency}}</span>
  </li>
  <li class="list-group-item">
    Total:
    <span class="pull-right bold">{{ventas|totalizar:"total":2|currency}}</span>
  </li>
</ul>
