

<form class="form-signin" name="formLogin">
  <h2 class="form-signin-heading">Inicio de Sesión</h2>
  <label for="" class="sr-only">Email</label>
  <input type="text" ng-model="usuario" class="form-control" required autofocus>
  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input type="password" ng-model="password" class="form-control" placeholder="Contraseña" required>
  <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="main.UsuarioFactory.login(usuario, password)" ng-disabled="formLogin.$invalid">Entrar</button>

  <div class="error" ng-show="!email||!password">
    <hr>
    <div ng-show="!email">El email es requerido</div>
    <div ng-show="!password">El password es requerido</div>
  </div>
</form>
