<div class="jumbotron text-center">
  <h1>Bienvenido a Mi Aplicación</h1>

  <p ng-show="main.UsuarioFactory.usuario.id">
    Su sesión ha sido iniciada
  </p>

  <p ng-show="!main.UsuarioFactory.usuario.id">
    En esta aplicación vamos a iniciar sesión
  </p>

  <a class="btn btn-default" href="#/login" ng-show="!main.UsuarioFactory.usuario.id">Iniciar sesión</a>
</div>
