.principal{
  min-height: 400px;
  margin-top: 60px;
}

.contenedor-vistas{
  min-height: 400px;
}

.header{
  height:60px;
  padding:10px;
  border-bottom:1px solid #ccc;
}

.footer{
  height:60px;
  padding:10px;
  border-top:1px solid #ccc;
}

.bold{
  font-weight: bold;
}
.mi-titulo{
  border-bottom: 1px solid #rgb(124, 124, 124);
  background-color: rgb(194, 194, 194);
  padding:5px 10px;
  font-weight: bold;
  border-radius:4px;
  box-shadow:1px 1px 5px #555;
}

.perfil-thumb{
  margin:0 auto;
  width: 100px;
  height: 130px;
  padding:10px;
  border: 1px solid #444;
  box-shadow: 0 0 5px #444;
}

.perfil-thumb img{
  max-width: 80px;
  max-height: 110px;
}

.separado{
  margin-bottom: 10px;
}

#elqrcode{
  margin: 0 auto;
}
#elqrcode img{
  display:inline-block !important;
}

.oculto{
  display: none !important;
}
/*
██       ██████   ██████  ██ ███    ██
██      ██    ██ ██       ██ ████   ██
██      ██    ██ ██   ███ ██ ██ ██  ██
██      ██    ██ ██    ██ ██ ██  ██ ██
███████  ██████   ██████  ██ ██   ████
*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
