<div class="footer pull-right small">
  <p>
    <span ng-show="main.UsuarioFactory.usuario.id">Sesión de usuario: {{main.UsuarioFactory.usuario.nombre}} <a href="" ng-click="main.UsuarioFactory.logout()">Salir</a> -</span> {{main.app.name}} v{{main.app.version}} - Hecho por los kuuijes
  </p>
</div>
