<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">{{main.app.name}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{'active':main.rutaActual=='/welcome'}"><a href="#/welcome">Home</a></li>
        <li ng-class="{'active':main.rutaActual=='/acercade'}"><a href="#/acercade">Acerca de</a></li>
        <li ng-class="{'active':main.rutaActual=='/dashboard'}" ng-show="main.UsuarioFactory.usuario.id"><a href="#/dashboard">Escritorio</a></li>
        <li ng-class="{'active':main.rutaActual=='/alumnos'}" ng-show="main.UsuarioFactory.usuario.id"><a href="#/alumnos">Alumnos</a></li>
        <li ng-class="{'active':main.rutaActual=='/login'}" ng-show="!main.UsuarioFactory.usuario.id"><a href="#/login">Entrar</a></li>
        <li ng-show="main.UsuarioFactory.usuario.id">
          <a href="" ng-click="main.UsuarioFactory.logout()">
            Salir ({{main.UsuarioFactory.usuario.nombre}})
          </a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
