<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="miApp">

<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="bower/alertify-js/build/css/alertify.min.css">
  <link rel="stylesheet" href="bower/alertify-js/build/css/alertify.min.css">
  <link rel="stylesheet" href="bower/alertify-js/build/css/themes/bootstrap.min.css">
  <link rel="stylesheet" href="bower/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" href="styles/estilos.css">
</head>

<body>

  <div class="container principal">
    <div ng-include="'templates/header.html'"></div>
    <div class="contenedor-vistas" ng-view ng-cloak class="ng-cloak"></div>
    <div ng-include="'templates/footer.html'"></div>
  </div>

  <script type="text/javascript" src="bower/sails.io.js/dist/sails.io.js"></script>
  <script type="text/javascript" src="bower/alertify-js/build/alertify.min.js"></script>
  <script type="text/javascript" src="bower/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower/moment/locale/es-us.js"></script>
  <script type="text/javascript" src="bower/lodash/dist/lodash.min.js"></script>
  <script type="text/javascript" src='bower/pdfmake/build/pdfmake.min.js'></script>
 	<script type="text/javascript" src='bower/pdfmake/build/vfs_fonts.js'></script>

  <script type="text/javascript" src="bower/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower/angular-route/angular-route.min.js"></script>

  <script type="text/javascript" src="bower/ng-file-upload/ng-file-upload.min.js"></script>

  <script type="text/javascript" src="bower/qrcode.js/qrcode.js"></script>

  <script type="text/javascript" src="js/app/app.js"></script>
  <script type="text/javascript" src="js/app/routes.js"></script>

  <script type="text/javascript" src="js/app/factories/userFactory.js"></script>
  <script type="text/javascript" src="js/app/directives/mis-usuarios.js"></script>
  <script type="text/javascript" src="js/app/directives/direccion.js"></script>
  <script type="text/javascript" src="js/app/directives/mi-titulo.js"></script>

  <script type="text/javascript" src="js/app/filters/todos.js"></script>

  <script type="text/javascript" src="js/app/controllers/loginController.js"></script>
  <script type="text/javascript" src="js/app/controllers/dashboardController.js"></script>
  <script type="text/javascript" src="js/app/controllers/acercadeController.js"></script>
  <script type="text/javascript" src="js/app/controllers/welcomeController.js"></script>
  <script type="text/javascript" src="js/app/controllers/alumnosController.js"></script>
  <script type="text/javascript" src="js/app/controllers/alumnoController.js"></script>
</body>

</html>
